*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #F5F5F5;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    height: 82vh;
}

.logo h2{
    font-size: 30px;
    padding: 40px 20px;
    
}

.linkler a:hover {
    background-color: #30a6a9;
    color: white;
    padding: 15px 40px 15px 10px; 
    border-radius: 10px;
    transition: .6s ease;

}
.linkler a{
    color: #838383;
    width:150px;
    height: 50px;
    padding: 15px 40px 15px 10px; 
    text-align: start;   
    font-weight: 400; 

}
.linkler p{
    width: 220px;
    height: 50px;
    padding-left: 20px;
}

.boshluq{
    padding-right: 10px;
}

.linkler i {
    font-size: 20px;
}

.linkler{
    width: 220px;
}
.border{
padding-left: 20px;
}
.border div{
    border-top: 1px solid #E3E4ED;
    width: 150px;
    padding-top: 30px;

}

